# PROJECT 4: DEGRADATION DETECTION - Dépendances

# Numpy (fix compatibility with PyTorch)
numpy<2

# YOLOv8 (Détection d'objets)
ultralytics>=8.0.0

# Traitement vidéo et images
opencv-python>=4.8.0

# Utilitaires
pyyaml>=6.0
